---
layout: base
---

{% include header.html type="page" %}

<style>
#container { display: table; }
#row { display: table-row; }
#cell { display: table-cell; padding: 2px 2px; }
#caption { font-size: 75% }
</style>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div id="container">
        {% assign sorted_features = site.features | sort: '_order' %}
        {% for feature in sorted_features %}
          {% assign mod = forloop.index0 | modulo:3 %}
          {% if mod == 0 %}<div id="row">{% endif %}
          <div id="cell">
            <figure>
              <a href="{{ feature.permalink }}"><img src="/img/features/{{ feature._image }}" style="width:400px;"/></a> <br />
              <figcaption id="caption">
                {{ feature.caption }}<br />
                <a href="{{ feature.permalink }}">[Read More]</a>
              </figcaption>
            </figure>
          </div>
          {% if mod == 2 or forloop.last %}</div>{% endif %}
        {% endfor %}
      </div>
      <br />

      {{ content }}
      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
